<?php
/**
 * MessageApi
 * PHP version 5
 *
 * @category Class
 * @package  Chabok\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Chabok Push
 *
 * Integrate your app with Chabok messaging & push api seamlessly
 *
 * OpenAPI spec version: 1.21.4
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Chabok\Client\Api;

use \Chabok\Client\ApiClient;
use \Chabok\Client\ApiException;
use \Chabok\Client\Configuration;
use \Chabok\Client\ObjectSerializer;

/**
 * MessageApi Class Doc Comment
 *
 * @category Class
 * @package  Chabok\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class MessageApi
{
    /**
     * API Client
     *
     * @var \Chabok\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Chabok\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Chabok\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Chabok\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Chabok\Client\ApiClient $apiClient set the API client
     *
     * @return MessageApi
     */
    public function setApiClient(\Chabok\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation messageFetchById
     *
     * Fetch a pushed message by id
     *
     * @param string $message_id  (required)
     * @throws \Chabok\Client\ApiException on non-2xx response
     * @return \Chabok\Client\Model\Message
     */
    public function messageFetchById($message_id)
    {
        list($response) = $this->messageFetchByIdWithHttpInfo($message_id);
        return $response;
    }

    /**
     * Operation messageFetchByIdWithHttpInfo
     *
     * Fetch a pushed message by id
     *
     * @param string $message_id  (required)
     * @throws \Chabok\Client\ApiException on non-2xx response
     * @return array of \Chabok\Client\Model\Message, HTTP status code, HTTP response headers (array of strings)
     */
    public function messageFetchByIdWithHttpInfo($message_id)
    {
        // verify the required parameter 'message_id' is set
        if ($message_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $message_id when calling messageFetchById');
        }
        // parse inputs
        $resourcePath = "/messages/fetchById/{messageId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($message_id !== null) {
            $resourcePath = str_replace(
                "{" . "messageId" . "}",
                $this->apiClient->getSerializer()->toPathValue($message_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('access_token');
        if (strlen($apiKey) !== 0) {
            $queryParams['access_token'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Chabok\Client\Model\Message',
                '/messages/fetchById/{messageId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Chabok\Client\Model\Message', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Chabok\Client\Model\Message', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
