<?php
/**
 * PushApi
 * PHP version 5
 *
 * @category Class
 * @package  Chabok\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Chabok Push
 *
 * Integrate your app with Chabok messaging & push api seamlessly
 *
 * OpenAPI spec version: 1.21.4
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Chabok\Client\Api;

use \Chabok\Client\ApiClient;
use \Chabok\Client\ApiException;
use \Chabok\Client\Configuration;
use \Chabok\Client\ObjectSerializer;

/**
 * PushApi Class Doc Comment
 *
 * @category Class
 * @package  Chabok\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class PushApi
{
    /**
     * API Client
     *
     * @var \Chabok\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Chabok\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Chabok\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Chabok\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Chabok\Client\ApiClient $apiClient set the API client
     *
     * @return PushApi
     */
    public function setApiClient(\Chabok\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation pushByQuery
     *
     * Push a text message to a segment of devices
     *
     * @param \Chabok\Client\Model\SegmentPush $payload  (required)
     * @throws \Chabok\Client\ApiException on non-2xx response
     * @return \Chabok\Client\Model\PushResponse
     */
    public function pushByQuery($payload)
    {
        list($response) = $this->pushByQueryWithHttpInfo($payload);
        return $response;
    }

    /**
     * Operation pushByQueryWithHttpInfo
     *
     * Push a text message to a segment of devices
     *
     * @param \Chabok\Client\Model\SegmentPush $payload  (required)
     * @throws \Chabok\Client\ApiException on non-2xx response
     * @return array of \Chabok\Client\Model\PushResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function pushByQueryWithHttpInfo($payload)
    {
        // verify the required parameter 'payload' is set
        if ($payload === null) {
            throw new \InvalidArgumentException('Missing the required parameter $payload when calling pushByQuery');
        }
        // parse inputs
        $resourcePath = "/push/byQuery";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // body params
        $_tempBody = null;
        if (isset($payload)) {
            $_tempBody = $payload;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('access_token');
        if (strlen($apiKey) !== 0) {
            $queryParams['access_token'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Chabok\Client\Model\PushResponse',
                '/push/byQuery'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Chabok\Client\Model\PushResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Chabok\Client\Model\PushResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation pushToUsers
     *
     * Push multiple text messages to users
     *
     * @param \Chabok\Client\Model\Push $messages  (required)
     * @throws \Chabok\Client\ApiException on non-2xx response
     * @return \Chabok\Client\Model\PushResponse[]
     */
    public function pushToUsers($messages)
    {
        list($response) = $this->pushToUsersWithHttpInfo($messages);
        return $response;
    }

    /**
     * Operation pushToUsersWithHttpInfo
     *
     * Push multiple text messages to users
     *
     * @param \Chabok\Client\Model\Push $messages  (required)
     * @throws \Chabok\Client\ApiException on non-2xx response
     * @return array of \Chabok\Client\Model\PushResponse[], HTTP status code, HTTP response headers (array of strings)
     */
    public function pushToUsersWithHttpInfo($messages)
    {
        // verify the required parameter 'messages' is set
        if ($messages === null) {
            throw new \InvalidArgumentException('Missing the required parameter $messages when calling pushToUsers');
        }
        // parse inputs
        $resourcePath = "/push/toUsers";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // body params
        $_tempBody = null;
        if (isset($messages)) {
            $_tempBody = $messages;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('access_token');
        if (strlen($apiKey) !== 0) {
            $queryParams['access_token'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Chabok\Client\Model\PushResponse[]',
                '/push/toUsers'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Chabok\Client\Model\PushResponse[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Chabok\Client\Model\PushResponse[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
