<?php
/**
 * VerificationApi
 * PHP version 5
 *
 * @category Class
 * @package  Chabok\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Chabok Push
 *
 * Integrate your app with Chabok messaging & push api seamlessly
 *
 * OpenAPI spec version: 1.21.4
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Chabok\Client\Api;

use \Chabok\Client\ApiClient;
use \Chabok\Client\ApiException;
use \Chabok\Client\Configuration;
use \Chabok\Client\ObjectSerializer;

/**
 * VerificationApi Class Doc Comment
 *
 * @category Class
 * @package  Chabok\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class VerificationApi
{
    /**
     * API Client
     *
     * @var \Chabok\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Chabok\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Chabok\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Chabok\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Chabok\Client\ApiClient $apiClient set the API client
     *
     * @return VerificationApi
     */
    public function setApiClient(\Chabok\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation verificationRequestCodeGet
     *
     * Request a verification code to be sent to a user
     *
     * @param string $user_id Should be a 98 starting mobile number in case of SMS (required)
     * @throws \Chabok\Client\ApiException on non-2xx response
     * @return \Chabok\Client\Model\VerificationStatus
     */
    public function verificationRequestCodeGet($user_id)
    {
        list($response) = $this->verificationRequestCodeGetWithHttpInfo($user_id);
        return $response;
    }

    /**
     * Operation verificationRequestCodeGetWithHttpInfo
     *
     * Request a verification code to be sent to a user
     *
     * @param string $user_id Should be a 98 starting mobile number in case of SMS (required)
     * @throws \Chabok\Client\ApiException on non-2xx response
     * @return array of \Chabok\Client\Model\VerificationStatus, HTTP status code, HTTP response headers (array of strings)
     */
    public function verificationRequestCodeGetWithHttpInfo($user_id)
    {
        // verify the required parameter 'user_id' is set
        if ($user_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_id when calling verificationRequestCodeGet');
        }
        // parse inputs
        $resourcePath = "/verification/requestCode/{userId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($user_id !== null) {
            $resourcePath = str_replace(
                "{" . "userId" . "}",
                $this->apiClient->getSerializer()->toPathValue($user_id),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('access_token');
        if (strlen($apiKey) !== 0) {
            $queryParams['access_token'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Chabok\Client\Model\VerificationStatus',
                '/verification/requestCode/{userId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Chabok\Client\Model\VerificationStatus', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Chabok\Client\Model\VerificationStatus', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation verificationVerifyGetVerificationVerifyCodeuserIdcode
     *
     * Verify user's verification code
     *
     * @param string $user_id The same userId passed to requestCode before (required)
     * @param string $code User&#39;s provided verification code (required)
     * @throws \Chabok\Client\ApiException on non-2xx response
     * @return \Chabok\Client\Model\VerificationStatus
     */
    public function verificationVerifyGetVerificationVerifyCodeuserIdcode($user_id, $code)
    {
        list($response) = $this->verificationVerifyGetVerificationVerifyCodeuserIdcodeWithHttpInfo($user_id, $code);
        return $response;
    }

    /**
     * Operation verificationVerifyGetVerificationVerifyCodeuserIdcodeWithHttpInfo
     *
     * Verify user's verification code
     *
     * @param string $user_id The same userId passed to requestCode before (required)
     * @param string $code User&#39;s provided verification code (required)
     * @throws \Chabok\Client\ApiException on non-2xx response
     * @return array of \Chabok\Client\Model\VerificationStatus, HTTP status code, HTTP response headers (array of strings)
     */
    public function verificationVerifyGetVerificationVerifyCodeuserIdcodeWithHttpInfo($user_id, $code)
    {
        // verify the required parameter 'user_id' is set
        if ($user_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_id when calling verificationVerifyGetVerificationVerifyCodeuserIdcode');
        }
        // verify the required parameter 'code' is set
        if ($code === null) {
            throw new \InvalidArgumentException('Missing the required parameter $code when calling verificationVerifyGetVerificationVerifyCodeuserIdcode');
        }
        // parse inputs
        $resourcePath = "/verification/verifyCode/{userId}/{code}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($user_id !== null) {
            $resourcePath = str_replace(
                "{" . "userId" . "}",
                $this->apiClient->getSerializer()->toPathValue($user_id),
                $resourcePath
            );
        }
        // path params
        if ($code !== null) {
            $resourcePath = str_replace(
                "{" . "code" . "}",
                $this->apiClient->getSerializer()->toPathValue($code),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('access_token');
        if (strlen($apiKey) !== 0) {
            $queryParams['access_token'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Chabok\Client\Model\VerificationStatus',
                '/verification/verifyCode/{userId}/{code}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Chabok\Client\Model\VerificationStatus', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Chabok\Client\Model\VerificationStatus', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
