# Verification

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**user_id** | **string** |  | 
**code** | **string** |  | [optional] 
**verified** | **bool** |  | [optional] 
**id** | [**\Swagger\Client\Model\ObjectID**](ObjectID.md) |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)


